In [1]:
import numpy as np
import pandas as pd

In [2]:
champions_league_df = pd.read_csv('..\\Consolidated Data\\Champions_League_Data.csv')

In [3]:
cl_in_scope_df = champions_league_df.loc[champions_league_df.loc[champions_league_df['Season']==2005].index[0]:champions_league_df.loc[champions_league_df['Season']==2019].index[0]]

In [4]:
cl_teams = cl_in_scope_df['Winners'].append(cl_in_scope_df['Runner Up']).append(cl_in_scope_df['SF1']).append(cl_in_scope_df['SF2'])

In [5]:
cl_teams = cl_teams.unique()

In [6]:
range1_start = int(cl_in_scope_df['Season'].max())
range2_start = range1_start-3
range3_start = range2_start-3
range4_start = range3_start-3
range5_start = range4_start-3
range_dict = {"range1_start":range1_start,"range2_start":range2_start,"range3_start":range3_start,"range4_start":range4_start,"range5_start":range5_start}

In [8]:
cl_range_1 = cl_in_scope_df.loc[61:63]

In [9]:
range1_winners = cl_range_1.groupby(['Winners']).count()['Season']
range1_runners = cl_range_1.groupby(['Runner Up']).count()['Season']
range1_sf1 = cl_range_1.groupby(['SF1']).count()['Season']
range1_sf2 = cl_range_1.groupby(['SF2']).count()['Season']

In [10]:
range_sf = range1_sf1.append(range1_sf2)

In [11]:
final_df = pd.DataFrame(columns=['Team','Range1_Win','Range2_Win','Range3_Win','Range4_Win','Range5_Win','Range1_Run','Range2_Run','Range3_Run','Range4_Run','Range5_Run','Range1_SF','Range2_SF','Range3_SF','Range4_SF','Range5_SF'])

In [12]:
final_df['Team'] = cl_teams

In [13]:
final_df=final_df.fillna(0)

In [14]:
final_df

,Team,Range1_Win,Range2_Win,Range3_Win,Range4_Win,Range5_Win,Range1_Run,Range2_Run,Range3_Run,Range4_Run,...,Range1_SF1,Range2_SF1,Range3_SF1,Range4_SF1,Range5_SF1,Range1_SF2,Range2_SF2,Range3_SF2,Range4_SF2,Range5_SF2
0,Liverpool,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Barcelona,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Milan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Manchester United,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Internazionale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Chelsea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Bayern Munich,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Real Madrid,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Arsenal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Borussia Dortmund,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Atlético Madrid,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Juventus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Tottenham Hotspur,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,PSV Eindhoven,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Villarreal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Lyon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Schalke 04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Manchester City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Monaco,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Roma,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Ajax,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
cl_range_2 = cl_in_scope_df.loc[49:51]

In [16]:
cl_in_scope_df

,Season,Winners,Runner Up,SF1,SF2
49,2005,Liverpool,Milan,Chelsea,PSV Eindhoven
50,2006,Barcelona,Arsenal,Milan,Villarreal
51,2007,Milan,Liverpool,Manchester United,Chelsea
52,2008,Manchester United,Chelsea,Barcelona,Liverpool
53,2009,Barcelona,Manchester United,Chelsea,Arsenal
54,2010,Internazionale,Bayern Munich,Barcelona,Lyon
55,2011,Barcelona,Manchester United,Real Madrid,Schalke 04
56,2012,Chelsea,Bayern Munich,Real Madrid,Barcelona
57,2013,Bayern Munich,Borussia Dortmund,Real Madrid,Barcelona
58,2014,Real Madrid,Atlético Madrid,Bayern Munich,Chelsea
59,2015,Barcelona,Juventus,Real Madrid,Bayern Munich
60,2016,Real Madrid,Atlético Madrid,Bayern Munich,Manchester City
61,2017,Real Madrid,Juventus,Atlético Madrid,Monaco
62,2018,Real Madrid,Liverpool,Bayern Munich,Roma
63,2019,Liverpool,Tottenham Hotspur,Barcelona,Ajax

In [17]:
cl_range_2 = cl_in_scope_df.loc[58:60]

In [18]:
range2_sf1 = cl_range_2.groupby(['SF1']).count()['Season']
range2_sf2 = cl_range_2.groupby(['SF2']).count()['Season']

In [31]:
range2_sf1

SF1
Bayern Munich    2
Real Madrid      1
Name: Season, dtype: int64

In [32]:
range2_sf2

SF2
Bayern Munich      1
Chelsea            1
Manchester City    1
Name: Season, dtype: int64

In [19]:
range2_sf = range2_sf1.append(range2_sf2)

In [30]:
range2_sf

Bayern Munich      2
Real Madrid        1
Bayern Munich      1
Chelsea            1
Manchester City    1
Name: Season, dtype: int64

In [35]:
range2_sf_df.index.name = 'Team'

In [36]:
range2_sf_df

                 Season
Team
Bayern Munich         2
Real Madrid           1
Bayern Munich         1
Chelsea               1
Manchester City       1

In [38]:
range2_sf_df.groupby(['Team']).sum()['Season']

Team
Bayern Munich      3
Chelsea            1
Manchester City    1
Real Madrid        1
Name: Season, dtype: int64

In [39]:
range1_winners = cl_range_1.groupby(['Winners']).count()['Season']
range1_runners = cl_range_1.groupby(['Runner Up']).count()['Season']
range1_sf1 = cl_range_1.groupby(['SF1']).count()['Season']
range1_sf2 = cl_range_1.groupby(['SF2']).count()['Season']
range1_sf = range1_sf1.append(range1_sf2)
range1_sf_df = range1_sf.to_frame()
range1_sf_df.index.name = 'Team'
range1_sf = range1_sf_df.groupby(['Team']).sum()['Season']

In [40]:
range1_sf

Team
Ajax               1
Atlético Madrid    1
Barcelona          1
Bayern Munich      1
Monaco             1
Roma               1
Name: Season, dtype: int64

In [22]:
final_df = final_df.set_index('Team')

In [23]:
df = range1_winners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_Win'] = range1_winners[i]

In [24]:
df = range1_runners.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_Run'] = range1_runners[i]

In [26]:
df = range1_sf.to_frame().T
df.columns
for i in df.columns:
    final_df.loc[i]['Range1_SF1'] = range1_sf[i]

In [41]:
final_df['Range1_SF1']

Team
Liverpool            0
Barcelona            1
Milan                0
Manchester United    0
Internazionale       0
Chelsea              0
Bayern Munich        1
Real Madrid          0
Arsenal              0
Borussia Dortmund    0
Atlético Madrid      1
Juventus             0
Tottenham Hotspur    0
PSV Eindhoven        0
Villarreal           0
Lyon                 0
Schalke 04           0
Manchester City      0
Monaco               1
Roma                 1
Ajax                 1
Name: Range1_SF1, dtype: int64