In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [4]:
page = requests.get("https://thefishy.co.uk/leaguetable.php?table=1&season=16")
soup = BeautifulSoup(page.content,'html.parser')

In [6]:
tables = soup.findAll("table")

In [38]:
table_to_use = tables[5]

In [39]:
table_header = table_to_use.find_all('th')

In [40]:
header_list = []
for i in table_header:
    header_list.append(i.contents[0])

In [41]:
header_list

['Pos', 'Team', 'P', 'W', 'D', 'L', 'F', 'A', 'GD', 'Pts']

In [42]:
table_data = table_to_use.find_all('td')

In [90]:
table_data_clean = []
for i in table_data:
    table_data_clean.append(i.contents[0])

In [91]:
table_data_clean

['1',
 <a href="team.php?team=Man+City">Man City</a>,
 '38',
 '32',
 '2',
 '4',
 '95',
 '23',
 '+72',
 '98',
 '2',
 <a href="team.php?team=Liverpool">Liverpool</a>,
 '38',
 '30',
 '7',
 '1',
 '89',
 '22',
 '+67',
 '97',
 '3',
 <a href="team.php?team=Chelsea">Chelsea</a>,
 '38',
 '21',
 '9',
 '8',
 '63',
 '39',
 '+24',
 '72',
 '4',
 <a href="team.php?team=Tottenham">Tottenham</a>,
 '38',
 '23',
 '2',
 '13',
 '67',
 '39',
 '+28',
 '71',
 '5',
 <a href="team.php?team=Arsenal">Arsenal</a>,
 '38',
 '21',
 '7',
 '10',
 '73',
 '51',
 '+22',
 '70',
 '6',
 <a href="team.php?team=Man+Utd">Man Utd</a>,
 '38',
 '19',
 '9',
 '10',
 '65',
 '54',
 '+11',
 '66',
 '7',
 <a href="team.php?team=Wolverhampton">Wolverhampton</a>,
 '38',
 '16',
 '9',
 '13',
 '47',
 '46',
 '+1',
 '57',
 '8',
 <a href="team.php?team=Everton">Everton</a>,
 '38',
 '15',
 '9',
 '14',
 '54',
 '46',
 '+8',
 '54',
 '9',
 <a href="team.php?team=Leicester">Leicester</a>,
 '38',
 '15',
 '7',
 '16',
 '51',
 '48',
 '+3',
 '52',
 '10',
 <a href="team.php?team=West+Ham">West Ham</a>,
 '38',
 '15',
 '7',
 '16',
 '52',
 '55',
 '-3',
 '52',
 '11',
 <a href="team.php?team=Watford">Watford</a>,
 '38',
 '14',
 '8',
 '16',
 '52',
 '59',
 '-7',
 '50',
 '12',
 <a href="team.php?team=Crystal+Palace">Crystal Palace</a>,
 '38',
 '14',
 '7',
 '17',
 '51',
 '53',
 '-2',
 '49',
 '13',
 <a href="team.php?team=Newcastle">Newcastle</a>,
 '38',
 '12',
 '9',
 '17',
 '42',
 '48',
 '-6',
 '45',
 '14',
 <a href="team.php?team=Bournemouth">Bournemouth</a>,
 '38',
 '13',
 '6',
 '19',
 '56',
 '70',
 '-14',
 '45',
 '15',
 <a href="team.php?team=Burnley">Burnley</a>,
 '38',
 '11',
 '7',
 '20',
 '45',
 '68',
 '-23',
 '40',
 '16',
 <a href="team.php?team=Southampton">Southampton</a>,
 '38',
 '9',
 '12',
 '17',
 '45',
 '65',
 '-20',
 '39',
 '17',
 <a href="team.php?team=Brighton">Brighton</a>,
 '38',
 '9',
 '9',
 '20',
 '35',
 '60',
 '-25',
 '36',
 '18',
 <a href="team.php?team=Cardiff">Cardiff</a>,
 '38',
 '10',
 '4',
 '24',
 '34',
 '69',
 '-35',
 '34',
 '19',
 <a href="team.php?team=Fulham">Fulham</a>,
 '38',
 '7',
 '5',
 '26',
 '34',
 '81',
 '-47',
 '26',
 '20',
 <a href="team.php?team=Huddersfield">Huddersfield</a>,
 '38',
 '3',
 '7',
 '28',
 '22',
 '76',
 '-54',
 '16']

In [93]:
inner_list=[]
for i in range(0,10):
    inner_list.append(table_data_clean[i])

In [95]:
def divide_chunks(l, n): 
    for i in range(0, len(l), n):  
        yield l[i:i + n]

In [99]:
n = 10  
x = list(divide_chunks(table_data_clean, n))

In [100]:
df = pd.DataFrame(x, columns =header_list)

In [102]:
df

,Pos,Team,P,W,D,L,F,A,GD,Pts
0,1,"<a href=""team.php?team=Man+City"">Man City</a>",38,32,2,4,95,23,+72,98
1,2,"<a href=""team.php?team=Liverpool"">Liverpool</a>",38,30,7,1,89,22,+67,97
2,3,"<a href=""team.php?team=Chelsea"">Chelsea</a>",38,21,9,8,63,39,+24,72
3,4,"<a href=""team.php?team=Tottenham"">Tottenham</a>",38,23,2,13,67,39,+28,71
4,5,"<a href=""team.php?team=Arsenal"">Arsenal</a>",38,21,7,10,73,51,+22,70
5,6,"<a href=""team.php?team=Man+Utd"">Man Utd</a>",38,19,9,10,65,54,+11,66
6,7,"<a href=""team.php?team=Wolverhampton"">Wolverha...",38,16,9,13,47,46,+1,57
7,8,"<a href=""team.php?team=Everton"">Everton</a>",38,15,9,14,54,46,+8,54
8,9,"<a href=""team.php?team=Leicester"">Leicester</a>",38,15,7,16,51,48,+3,52
9,10,"<a href=""team.php?team=West+Ham"">West Ham</a>",38,15,7,16,52,55,-3,52
10,11,"<a href=""team.php?team=Watford"">Watford</a>",38,14,8,16,52,59,-7,50
11,12,"<a href=""team.php?team=Crystal+Palace"">Crystal...",38,14,7,17,51,53,-2,49
12,13,"<a href=""team.php?team=Newcastle"">Newcastle</a>",38,12,9,17,42,48,-6,45
13,14,"<a href=""team.php?team=Bournemouth"">Bournemout...",38,13,6,19,56,70,-14,45
14,15,"<a href=""team.php?team=Burnley"">Burnley</a>",38,11,7,20,45,68,-23,40
15,16,"<a href=""team.php?team=Southampton"">Southampto...",38,9,12,17,45,65,-20,39
16,17,"<a href=""team.php?team=Brighton"">Brighton</a>",38,9,9,20,35,60,-25,36
17,18,"<a href=""team.php?team=Cardiff"">Cardiff</a>",38,10,4,24,34,69,-35,34
18,19,"<a href=""team.php?team=Fulham"">Fulham</a>",38,7,5,26,34,81,-47,26
19,20,"<a href=""team.php?team=Huddersfield"">Huddersfi...",38,3,7,28,22,76,-54,16

In [104]:
df_team = df['Team']

In [112]:
df_team

0           Man City
1          Liverpool
2            Chelsea
3          Tottenham
4            Arsenal
5            Man Utd
6      Wolverhampton
7            Everton
8          Leicester
9           West Ham
10           Watford
11    Crystal Palace
12         Newcastle
13       Bournemouth
14           Burnley
15       Southampton
16          Brighton
17           Cardiff
18            Fulham
19      Huddersfield
Name: Team, dtype: object

In [111]:
for i in range(0,len(df_team)):
    print(df_team[i])

Man City
Liverpool
Chelsea
Tottenham
Arsenal
Man Utd
Wolverhampton
Everton
Leicester
West Ham
Watford
Crystal Palace
Newcastle
Bournemouth
Burnley
Southampton
Brighton
Cardiff
Fulham
Huddersfield

In [114]:
df['Team'] = df_team

In [115]:
df

   Pos            Team   P   W   D   L   F   A   GD Pts
0    1        Man City  38  32   2   4  95  23  +72  98
1    2       Liverpool  38  30   7   1  89  22  +67  97
2    3         Chelsea  38  21   9   8  63  39  +24  72
3    4       Tottenham  38  23   2  13  67  39  +28  71
4    5         Arsenal  38  21   7  10  73  51  +22  70
5    6         Man Utd  38  19   9  10  65  54  +11  66
6    7   Wolverhampton  38  16   9  13  47  46   +1  57
7    8         Everton  38  15   9  14  54  46   +8  54
8    9       Leicester  38  15   7  16  51  48   +3  52
9   10        West Ham  38  15   7  16  52  55   -3  52
10  11         Watford  38  14   8  16  52  59   -7  50
11  12  Crystal Palace  38  14   7  17  51  53   -2  49
12  13       Newcastle  38  12   9  17  42  48   -6  45
13  14     Bournemouth  38  13   6  19  56  70  -14  45
14  15         Burnley  38  11   7  20  45  68  -23  40
15  16     Southampton  38   9  12  17  45  65  -20  39
16  17        Brighton  38   9   9  20  35  60  -25  36
17  18         Cardiff  38  10   4  24  34  69  -35  34
18  19          Fulham  38   7   5  26  34  81  -47  26
19  20    Huddersfield  38   3   7  28  22  76  -54  16